/* NavBar */
.navbar-brand {
    font-family: viga;
    font-size:32px;
}

/* utility */
.tombol{
    text-transform: uppercase;
    border-radius: 50%;
}

/* jumbotron */
.jumbotron{
    background-image: url("../img/bekgron-mtxl2-01.jpg");
    background-size: cover;
    height: 640px;
    
}

/*  DESKTOP VERSION */
@media (min-width: 992px) { 

    .navbar-brand, .nav-link{
        color: white;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 2);
    }

    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 10px;
        margin-bottom: -13px;
    }

    .jumbotron{
        margin-top: -75px;
    }
}